<!DOCTYPE html>
<html>
  <head>
    <title>Wall - Microblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 

    <header>
      <% if user_signed_in? %> 
        <div> Welcome <%= current_user.email %> </div> 
        <div> Edit your profile <%= link_to "Edit", edit_user_registration_path %> </div>
        <%= link_to "Create Post", new_post_path, class: "btn btn-primary" %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
      <% else %>
        <%= button_to "Sign in", new_user_session_path %> 
      <% end %>
    </header>

    <%= yield %>

    <footer>
      <div class="tooltip" data-tooltip="Built by Lawrence Wang, Last Updated APR 11 24">
        About
      </div>
    <footer>
  </body>
</html>
